
<h3 class="head"> 
    P3 - 2024 made by {{HFpatparvm.fullName991718111 | uppercase}}
</h3>


<mat-toolbar [ngStyle]="{textAlign: 'center'}">
    <a class="spacer" routerLink="/ace">
        <button mat-raised-button color="accent">ACE Of Spades</button>
        
    </a>
    
    <a class="spacer" routerLink="/king">
        <button mat-raised-button color="accent">KING Of Diamonds</button>
        
    </a>

    <a class="spacer" routerLink="/queen">
        <button mat-raised-button color="accent">QUEEN Of Hearts</button>
        
    </a>

    <a class="spacer" routerLink="/jack">
        <button mat-raised-button color="accent">JACK Of Clubs</button>
        
    </a>
</mat-toolbar>